aws_region          = "us-east-1"
environment         = "dev"
cluster_name        = "cloudops-eks-dev"
vpc_cidr            = "10.0.0.0/16"
availability_zones  = ["us-east-1a", "us-east-1b"]
public_subnet_cidrs = ["10.0.1.0/24", "10.0.2.0/24"]
private_subnet_cidrs= ["10.0.10.0/24", "10.0.11.0/24"]
kubernetes_version  = "1.30"
node_instance_types = ["t3.medium"]
desired_nodes       = 2
min_nodes           = 2
max_nodes           = 4
