.git
.gitignore
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov/
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
notebooks/
infrastructure/terraform/.terraform/
infrastructure/terraform/**/*.tfstate*
*.log
.env
.env.*
